:root {
  --header-color: #315dfa;
  --title-color: #afdce5;

  --accent-color-1: #315df9;
  --accent-color-2: #343b4d;

  --question-text: #fff;
  --question-fon: #343b4d;
  --form-text: #000;
  --form-fon: #f3f4f8;

  --progress-bar-color-1: #b53e42;
  --progress-bar-color-2: #419330;

  --red-text: #d0060e;

  --footer-color: #d6d6d6;
  --select-border-color: #e4e4e4;
}
